<!DOCTYPE html>
<html lang="es">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>GusYa</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<div class="container">
		{% if messages %}
			<div class="row">
				<div class="col-md-1"></div>
		        <div class="col-md-10">
		            {% for message in messages %}
		            <div class="alert alert-{{ message.tags }} ">
		                {{ message|safe }}
		            </div>
		            {% endfor %}
		        </div>
				<div class="col-md-1"></div>

	    	</div>
		{% endif %}
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
