*{
  font-family: 'Titillium Web', sans-serif;
}

body {
  background: white;
}

img {
  width: 100%;
}

.gray_text {
  color: #71716b;
}

.blue_text {
  color: #304343;
}

.errorlist {
  color: red;
  font-weight: bold;
  margin: 0;
}

.errorlist li {
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*************************
* Header
***************************/
header {
  margin: 1.2em 0 0 0;
}

header figure {
  width: 15%;
  margin: 0 auto;
}

 header h1 {
  text-align: center;
  color: #6a7070;
  font-size: 1.3em;
 }

 header p {
   display: none;
 }


 /***********************
 * Section: faq
 *********************/
 #faq {
   padding: 1em;
 }

 #faq #questions, #faq #info {
   display: inline-block;
 }

 #faq #questions {
   text-align: justify;
   margin-left: 8%;
   max-width: 38%;
 }

#faq #info {
  margin-left: 8%;
  max-width: 40%;
  vertical-align: top;
}

#faq .question {
  color: #3b4d4d;
  font-size: 1.2em;
  font-weight: 600;
}

#faq .answ {
  color: #717171;
}

#faq form input[type="number"] {
  background: #EDF1F1;
  border: 1px solid #D0D1D1;
  border-radius: 3px;
  color: #566170;
  height: 2em;
  max-width: 100%;
}

#faq form input[type="submit"] {
  background: #52d10b;
  border-radius: 3px;
  border: none;
  color: white;
  height: 2.2em;
  max-width: 30%;
}

/***********************
* Section: content
************************/
#content {
  margin-top: 2em;
  margin-bottom: -8em;
  text-align: center;
}

#content #phone, #content #info {
  display: inline-block;
}

#content #phone {
  margin-right: 10em;
  width: 20.5%;
}

#content #info {
  vertical-align: top;
  width: 30%;
}

#content #phone figure, #content #info figure {
  margin: 0;
}

#info form input[type="number"] {
  background: #EDF1F1;
  border: 1px solid #D0D1D1;
  border-radius: 3px;
  color: #566170;
  height: 2em;
}

#info form input[type="submit"] {
  background: #52d10b;
  border-radius: 3px;
  border: none;
  color: white;
  height: 2.2em;
  width: 24%;
}

/******************************
* footer
*******************************/
footer {
  background: #304343;
  color: #748183;
  text-align: right;
  height: 10em;
}

footer a {
  color: white;
  text-decoration: none;
}

footer ul {
  list-style: none;
  margin-right: 18%;
  margin-bottom: 0;
}

footer ul li {
  display: inline-block;
  padding: 0.5em;
  margin-top: 3em;
}

footer p {
  margin: 0 33.3% 0 0;
}

.fb-logo {
  width: 0.5%;
}
.tw-logo {
  width: 1%;
}
