*{
  font-family: 'Titillium Web', sans-serif;
}
.header{
  position: relative;
  visibility: visible;
  background-color: transparent;
  background-size: cover;
  background-position: 50% top;
  height: 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
	font-size: 30px;
	color: white;
}

.overlay{
    
    background-color: rgba(0,0,0,.5);
  	margin-top: 250px;
  	text-align: center;
  	float: none;
}

.logo{
  float: left;
}

.mensaje{
  color: white;
}

@media (min-width: 992px)
.col-md-6 {
  width: 50%;
}

@media (min-width: 992px)
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  float: left;
}

label{
	color: white;
  font-size: 20px;
}

.btn-default{
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 18pt;
  color: #fff; 
  background-color:#0489B1;"
}

.btn-default:hover{
  background-color: #fff;
  text-decoration: none;
  color: #198ee8;
}

p{
	text-align: center;
	font-size: 30px;
	color: #333;
}

.hiw{
}

.functionrow{
  margin: 100px 100px;
	float: none;
	text-align: center;
}

.form2{

	height: 600px;
	background-color: #333;
}

.form-control{
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
}

#cf{
  font-size: 30px;
  color: #045FB4;
  font-weight: bold;
}

.row{
  background-color: #333;
}

.second{
  background-color: #333;
  text-align: center;
  float: none;
}

h2{
  color: #01A9DB;
  font-weight: bold;
  font-size: 20pt;
}

.faq{
  margin: 0 0 10px;
}
.question{
  font-size: 18pt;
  font-weight: bold;
}

.answ{
  font-size: 16pt;
}

footer{
  font-size: 5px;
}