*{
  font-family: 'Titillium Web', sans-serif;
}

.row{
  margin: 0;
}


.container-fluid{
  padding: 0;
}

.header{
  background-size: cover;
  visibility: visible;
  background-color: transparent;
  height: 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1{
	font-size: 30px;
	color: white;
}

.overlay{
    
    background-color: rgba(0,0,0,.5);
  	margin-top: 150px;
  	text-align: center;
  	float: none;
}

.logo{
  float: left;
}

.mensaje{
  color: white;
  font-size: 20pt;
  text-align: center;
}

@media (min-width: 992px)
.col-md-6 {
  width: 50%;
}

@media (min-width: 992px)
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  
}

label{
	color: white;
  font-size: 20px;
}

.btn-default{
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 18pt;
  color: #fff; 
  background-color:#31918E;"
}

.btn-default:hover{
  background-color: #fff;
  text-decoration: none;
  color: #198ee8;
}

p{
	text-align: center;
	font-size: 30px;
	color: #333;
}

.bboton{
  display: inline-block;
  position: relative;
  color: #fff;
  background-color: blue;
}

.functionrow{
  margin: 100px 100px;
	float: none;
	text-align: center;
}

.form2{

	height: 600px;
	background-color: #333;
}

.form-control{
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
}

#cf{
  font-size: 30px;
  color: #31918E;
  font-weight: bold;
}

.row{
  background-color: #333;
}

.second{
  background-color: #333;
  text-align: center;
  float: none;
}

h2{
  color: #31918E;
  font-weight: bold;
  font-size: 20pt;
}

.faq{
  margin: 0 0 10px;
}
.question{
  font-size: 18pt;
  font-weight: bold;
}

.answ{
  font-size: 16pt;
}

footer{
  font-size: 5px;
  color: #31918E;
}

.arrow{
  vertical-align: middle;
  border: 0;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 70px;
  width: 150px;
}

.arrowup{

  padding: 15px 15px;
  vertical-align: middle;
  border: 0;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-size: 70px;
  width: 150px;
}


a{
  color: #31918E;
  text-decoration: none!important;
}

.flecha{
  color: #fff;
  text-decoration: none!important;
}
.flecha span{
  color: #fff;
  text-decoration: none!important;
}

footer{
  font-size: 1pt;
  padding: 20px 20px;
}
