*{
  font-family: 'Titillium Web', sans-serif;
}
body {
  background: white;
}

img {
  width: 100%;
}

.gray_text {
  color: #71716b;
  font-size: 0.8em;
}

.blue_text {
  color: #304343;
}
.errorlist {
  color: red;
  font-weight: bold;
  margin: 0;
}

.errorlist li {
  margin: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*************************
* Header
***************************/
header {
  margin: 1.2em 0 0 0;
}

header figure {
  max-width: 50%;
}

 header h1 {
  display: none;
  text-align: center;
  color: #6a7070;
  font-size: 1.2em;
 }

 header p {
   color: #3b4d4d;
   font-weight: bold;
   max-width: 80%;
   margin: 0 auto;
   text-align: justify;
 }

/***********************
* Section: content
************************/
form {
  width: 90%;
  margin: 0 auto;
}

#content {
  margin-top: 2em;
  text-align: center;
}


#content #phone {
  width: 48%;
  margin: 0 auto;
  display: none;
}


#content #info {
  margin: 0 auto;
  max-width: 90%;
}

#content #phone figure, #content #info figure {
  margin: 0;
}

#info form input[type="number"] {
  background: #EDF1F1;
  border: 1px solid #D0D1D1;
  border-radius: 3px;
  color: #566170;
  height: 2em;
  width: 100%;
}

#info form input[type="submit"] {
  background: #52d10b;
  border-radius: 3px;
  border: none;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 2.2em;
  width: 100%;
}

#info p.title {
  display: none;
}

.intl-tel-input {
  width: 100%;
  margin-bottom: 0.3em;
}

/******************************
* footer
*******************************/
footer {
  background: #304343;
  color: #748183;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

ul li {
  padding: 0.5em;
  margin-top: 0.2em;
}

footer p {
  margin: 0;
}
